%list-view-toggle {
   #list-view-toggle-btn {
       position: relative;                                                                  
       left: 40%;
       @include button(1rem, 0.5rem 1rem, 0);
       border: 3px solid black;
       background-color: transparent;
       .pressed {
           background-color: black;
           i {
               color: white;
           }
       }
   }
}
