@mixin ftr-bar($bg-color, $link-color: blue) {
   position: sticky;
   bottom: 0;
 
   width: 100%;
   padding: 0.5rem 0;

   background-color: $bg-color;

   display: flex;
   justify-content: flex-end;

   span#link-text {
	   margin: 0 1.5rem;
       font-size: 1.15rem;
       color: $link-color;
       text-decoration: underline;
       cursor: pointer;
   }
}
