@mixin hdr-bar($bg-color, $icon-color: black) {
   position: sticky;
   top: 0;
   background-color: $bg-color;
   padding: 0.9rem 0;
 
   display: flex;
   justify-content: flex-end;
   #cart-items {
	  i {
		  font-size: 1.75rem;
		  color: $icon-color;
	
		  cursor: pointer;
	  }
	  &-count {
		  position: relative;
		  bottom: 15px;
		  right: 15px;
		  background-color: red;
		  padding: 0.10rem 0.5rem;
		  border-radius: 3px;
		  font-size: 1.05rem;

		  &.hidden {
			  display: none;
		  }
	  }
   }
}
