*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#hdr-bar #cart-items .tooltip-text #order-summary table {
  width: 100%;
  font-size: 1.2rem;
  border-collapse: collapse;
}
#hdr-bar #cart-items .tooltip-text #order-summary table caption {
  font-size: 1.5rem;
  padding: 1.25rem;
}
#hdr-bar #cart-items .tooltip-text #order-summary table thead tr {
  border-bottom: 1px solid #ddd;
}
#hdr-bar #cart-items .tooltip-text #order-summary table thead tr th {
  padding: 0.75rem 0;
}
#hdr-bar #cart-items .tooltip-text #order-summary table tbody tr th {
  font-weight: bolder;
}
#hdr-bar #cart-items .tooltip-text #order-summary table tbody tr td {
  padding: 0.75rem 0;
}
#hdr-bar #cart-items .tooltip-text #order-summary table tbody tr td:last-child::before {
  content: "$";
}
#hdr-bar #cart-items .tooltip-text #order-summary table tfoot tr th {
  font-size: 1.35rem;
}
#hdr-bar #cart-items .tooltip-text #order-summary table tfoot tr td {
  border-top: 1px dashed #aaa;
  padding: 1.5rem 0;
}
#hdr-bar #cart-items .tooltip-text #order-summary table tfoot tr td:last-child::before {
  content: "$";
}

main #recipe-choice-btn-group {
  width: 74%;
  margin: 0 auto;
}
main #recipe-choice-btn-group .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: gray;
  border: 5px outset gray;
  box-shadow: 6px 2px 9px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}
main #recipe-choice-btn-group .btn:not(:last-child) {
  margin-right: 5px;
}
main #recipe-choice-btn-group .btn:active {
  box-shadow: none;
}

#hdr-bar {
  background-color: lightgray;
  padding: 0.9rem 0;
  display: flex;
  justify-content: flex-end;
}
#hdr-bar #cart-items {
  position: relative;
  z-index: 1;
}
#hdr-bar #cart-items i {
  font-size: 1.75rem;
  color: black;
  cursor: pointer;
}
#hdr-bar #cart-items-count {
  position: relative;
  bottom: 15px;
  right: 15px;
  background-color: red;
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  font-size: 1.05rem;
}
#hdr-bar #cart-items .tooltip-text {
  width: 75vw;
  height: 75vh;
  overflow: scroll;
  font-size: 1rem;
  visibility: hidden;
  top: 120%;
  left: -375%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  white-space: nowrap;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}
#hdr-bar #cart-items .tooltip-text #default-summary i {
  margin: 5rem 0;
  font-size: 15rem;
  color: gray;
  opacity: 0.5;
}
#hdr-bar #cart-items .tooltip-text #default-summary p {
  font-size: 2rem;
  font-weight: bolder;
  color: red;
}
#hdr-bar #cart-items .tooltip-text #default-summary p:last-child {
  color: black;
  font-size: 1.2rem;
}
#hdr-bar #cart-items .tooltip-text #default-summary p:last-child i {
  font-size: 1.5rem;
}
#hdr-bar #cart-items .tooltip-text #order-summary #order-summary-btn-group {
  display: flex;
  justify-content: space-around;
}
#hdr-bar #cart-items .tooltip-text #order-summary #order-summary-btn-group .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.65rem 1.2rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 6px 2px 9px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}
#hdr-bar #cart-items .tooltip-text #order-summary #order-summary-btn-group .btn:active {
  box-shadow: none;
}
#hdr-bar #cart-items .tooltip-text #order-summary #order-summary-btn-group .btn:disabled {
  box-shadow: none;
  opacity: 0.2;
}
#hdr-bar #cart-items .tooltip-text #order-summary #order-summary-btn-group .btn i {
  color: white;
}
#hdr-bar #cart-items .tooltip-text .hidden {
  display: none;
}

main {
  width: 100vw;
  height: 90vh;
}
main #main-section-listing {
  background-color: lightgray;
  width: 70%;
  height: 90%;
  margin: 2% auto;
  border-radius: 5px;
  overflow: scroll;
}
main #main-section-listing #recipe-result-figure-thumb {
  width: 100%;
  height: 350px;
}
main #main-section-listing #recipe-result-figure-title {
  position: relative;
  bottom: 325px;
  background-color: white;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.5rem;
}
main #main-section-listing #recipe-result-ingredients-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
main #main-section-listing #recipe-result-ingredients ul {
  list-style-position: inside;
  margin: 0 2rem;
  column-count: 2;
}
main #main-section-listing #recipe-result-ingredients ul li span:first-child {
  margin: 0 0.25rem;
}
main #main-section-listing #recipe-result-instructions {
  padding: 1.2rem;
}
main #main-section-listing #recipe-result-instructions-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
main #main-section-listing #recipe-result-instructions-text-list {
  list-style-type: none;
  list-style-position: inside;
  counter-reset: instruction-step;
  column-count: 2;
}
main #main-section-listing #recipe-result-instructions-text-list li::before {
  counter-increment: instruction-step;
  content: "Step " counter(instruction-step) ". ";
  font-weight: bolder;
}
main #main-section-listing #recipe-result-instructions-text-list li::after {
  content: ".";
}
main #main-section-listing #recipe-result-controls {
  width: 50%;
  margin: 1.5rem auto;
}
main #main-section-listing #recipe-result-controls-preamble {
  font-size: 1.25rem;
}
main #main-section-listing #recipe-result-controls-btn-group {
  display: inline-block;
}
main #main-section-listing #recipe-result-controls-btn-group .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 0.75rem;
  text-decoration: none;
  padding: 0.75rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 6px 2px 9px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  background-color: transparent;
  color: black;
}
main #main-section-listing #recipe-result-controls-btn-group .btn:first-child {
  margin-right: 0.75rem;
}
main #main-section-listing #recipe-result-controls-btn-group .btn:active {
  box-shadow: none;
}
main #main-section-listing #recipe-result-controls-btn-group .btn:disabled {
  box-shadow: none;
  opacity: 0.2;
}
main #main-section-listing #recipe-result-controls-btn-group-count {
  font-size: 1.25rem;
}

#ftr-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: lightgray;
}
#ftr-bar span#link-text {
  font-size: 1.15rem;
  margin-left: 90%;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}